@font-face {
    font-family: "Verdana-Bold";
    src: url("../fonts/verdanab.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*-- main --*/
main {
    font-family: 'Verdana', sans-serif;
    background: url("../img/rana-sawalha-364253-unsplash.png") center no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 1210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

a {
    text-decoration: none;
}

button {
    height: 46px;
    border: none;
    border-radius: 4px;
    transition: all 0.4s ease;
}

/*-- header--*/
header {
    padding: 18px 0;
    position: relative;
    color: #fff;
}

header:before {
    content: '';
    background-color: #000000;
    opacity: 0.41;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header .logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease;
}

header .logo:hover {
    color: #3cb878;
}

.log-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

a:not(.logo) {
    color: #3cb878;
    transition: all 0.4s ease;
}

a:hover:not(.logo) {
    text-decoration: underline;
}

.menu-box {
    list-style: none;
}

.menu-box .bg-item {
    background: url("../img/spritesheet.png") center no-repeat;
    width: 28px;
    height: 20px;
    display: inline-block;
    margin-right: 20px;
    /*transition: all 0.4s ease;*/
}

.bg-item.calculator-item {
    background-position: -4px -5px;
}

.bg-item.calculator-item:hover {
    background-position: -33px -5px;
}

.bg-item.msg-item {
    background-position: -5px -34px;
}

.bg-item.msg-item:hover {
    background-position: -43px -34px;
}

.bg-item.compas-item {
    background-position: right -5px top -5px;
}

.bg-item.compas-item:hover {
    background-position: bottom -5px right -5px;
}

.log-item {
    border-left: 1px solid #524a4ac9;
    padding-left: 24px;
}

.top-bar {
    display: flex;
}

/*-- login form --*/
.form-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 58px);
}

.form-login {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    background: #fff;
    padding: 30px 60px 32px;
    max-width: 444px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.form-group {
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    color: #434343;
    border: 1px solid #eaeaea;
    width: 100%;
    margin-bottom: 9px;
    height: 46px;
    border-radius: 4px;
    padding: 0 15px;
    box-sizing: border-box;
}

.form-group::placeholder,
.form-group:-moz-placeholder,
.form-group:-ms-input-placeholder,
.form-group::-moz-placeholder,
.form-group::-webkit-input-placeholder,
.form-group::-ms-input-placeholder {
    color: #bebebe;
}

.form-group:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-caption h1 {
    color: #434343;
    font-size: 20px;
    line-height: 21px;
}

.form-caption h1:before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3cb878;
    position: absolute;
    left: 0;
    margin-top: 3px;
}

.btn {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 0 17px;
    display: flex;
    flex: 1;
    margin: 0 4px;
}

.btn:before {
    content: '';
    width: 30px;
    height: 20px;
    margin-right: 18px;
}

.facebook-btn:before {
    background: url(../img/facebook1.png) no-repeat transparent;
    background-size: contain;
    border-right: 1px solid #2b54a6;
}

.facebook-btn {
    background: #305db8;
}

.facebook-btn:hover {
    background: #264b96;
}

.google-btn:before {
    background: url(../img/G+.png) no-repeat transparent;
    background-size: contain;
    border-right: 1px solid #c9432d;
    padding-right: 10px;
}

.google-btn {
    background: #df4a32;
}
.google-btn:hover{
    background: #c3412c;
}
.form-social-btns {
    display: flex;
    margin: 0 -4px 33px;
}

.option {
    color: #848484;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.option:after,
.option:before {
    content: '';
    height: 1px;
    background: #eaeaea;
    width: calc(100% / 2 - 50px);
    margin-top: 7px;
}

.terms-checkbox {
    margin: 22px 0 28px;
}

.check-label {
    cursor: pointer;
    position: relative;
}

.check-label:before {
    z-index: 2;
    content: '';
    background: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.terms-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.terms-checkbox input:checked + .check-label:after {
    content: '';
    z-index: 3;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 14px;
    height: 11px;
    background: url(../img/checkbox.png) no-repeat;
    background-size: contain;
}

.log-submit {
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    background: #3fb97a;
}
.log-submit:hover{
background: #329a65;
}